{% if user.is_student %}
    {% include 'student_template/base.html' %}
{% else %}
    {% include 'base.html' %}
{% endif %}
{% load static %}


{% block content %}
<div class="wrapper">
  {% if user.is_department %}
    {% include 'department_template/navbar.html' %}
    {% include 'department_template/aside.html' %}
  {% elif user.is_staff and user.is_superuser%}
    {% include 'admin_template/navbar.html' %}
    {% include 'admin_template/aside.html' %}
  {% elif user.is_student %}
    {% include 'student_template/navbar.html' %}
    {% comment %} {% include 'student_template/aside.html' %} {% endcomment %}
  {% endif %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                Swal.fire({
                    toast: true,
                    position: 'top-end',
                    icon: 'success',
                    text: "{{ message }}",
                    showConfirmButton: false,
                    timer: 6000,
                });
            </script>
        {% elif message.tags == 'error' %}
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                Swal.fire({
                    toast: true,
                    position: 'top-end',
                    icon: 'error',
                    text: "{{ message }}",
                    showConfirmButton: false,
                    timer: 6000,
                });
            </script>
        {% elif message.tags == 'warning' %}
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                Swal.fire({
                    toast: true,
                    position: 'top-end',
                    icon: 'warning',
                    text: "{{ message }}",
                    showConfirmButton: false,
                    timer: 6000,
                });
            </script>
        {% elif message.tags == 'info' %}
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                Swal.fire({
                    toast: true,
                    position: 'top-end',
                    icon: 'info',
                    text: "{{ message }}",
                    showConfirmButton: false,
                    timer: 6000,
                });
            </script>
        {% endif %}
    {% endfor %}
{% endif %}

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            {% if user.is_superuser %}
              <h1 class="text-muted">Update Profile</h1>
            {% elif user.is_department %}
                <h1 class="text-muted">Update Profile</h1>
            {% endif %}          
          </div>
          {% if user.is_superuser %}
              <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="{% url "home" %}">Dashboard</a></li>
                      <li class="breadcrumb-item active">Update Profile</li>
                  </ol>
              </div>
          
          {% elif user.is_department %}
              <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="{% url "department_home" %}">Dashboard</a></li>
                      <li class="breadcrumb-item active">Update Profile</li>
                  </ol>
              </div>
          {% endif %} 
        </div>
      </div>
    </div>

    <section class="content">
      <div class="container-fluid">
        <div class="card card-info card-outline">
          <div class="card-header">
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}

              <div class="form-group">
                <label for="id_old_password" class="text-muted">Old Password:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" id="id_old_password" name="old_password" placeholder="Old Password" required>
                </div>
                {% if form.old_password.errors %}
                  <div class="text-danger">{{ form.old_password.errors }}</div>
                {% endif %}
              </div>
              <div class="form-group">
                <label for="id_new_password1" class="text-muted">New Password:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" id="id_new_password1" name="new_password1" placeholder="New Password" required>
                </div>
                {% if form.new_password1.errors %}
                  <div class="text-danger">{{ form.new_password1.errors }}</div>
                {% endif %}
              </div>
              <div class="form-group">
                <label for="id_new_password2" class="text-muted">Confirm New Password:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" id="id_new_password2" name="new_password2" placeholder="Confirm New Password" required>
                </div>
                {% if form.new_password2.errors %}
                  <div class="text-danger">{{ form.new_password2.errors }}</div>
                {% endif %}
              </div>
              <button type="submit" class="btn btn-info"><i class="fas fa-key"></i> Change Password</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
 
{% if user.is_superuser %}
    {% include 'admin_template/footer.html' %}
{% elif user.is_department %}
    {% include 'department_template/footer.html' %}
{% endif %}

</div>
{% endblock %}
