{% extends "loginBase.html" %}
{% block content %}
{% load static %}
<div class="login-box">
 <div class="login-logo">
    <a href="#"><b>LOGIN</b>HERE</a>
  </div>
  <div class="card card-outline mb-5 card-info">
    <div class="card-body">
      <p class="login-box-msg muted">
        {% if msg %}
        <span class="text-danger text-bold">
          {{ msg | safe }}
        </span>
        {% else %}
        <span class="text-bold text-muted">Login to secure access!</span>
        {% endif %}
      </p>

      <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
          {{ form.email }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
          {{ form.password }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-key"></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-info btn-block">Login</button>
          </div>
        </div>
      </form>
      <div class="input-group mt-3">
            {% comment %} <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember" class="text-muted">Remember Me</label>
            </div>
          </div>  {% endcomment %}
      <!-- Forgot Password Link -->
      <p class="mt-1">
        <a href="{% url 'password_reset' %}">Forgot Password?</a>
      </p>
      
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->

{% endblock content %}
