{% extends 'loginBase.html' %}

{% block content %}
<div class="login-box">
  <div class="card card-outline card-info">
    <div class="card-body">
      <h2 class="login-box-msg text-muted">Reset Your Password</h2>
      <p>Enter a new password for your account below.</p>
      
      <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input type="password" name="new_password1" class="form-control" placeholder="New Password" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        
        <div class="input-group mb-3">
          <input type="password" name="new_password2" class="form-control" placeholder="Confirm New Password" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-info btn-block">Reset Password</button>
          </div>
        </div>
      </form>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->
{% endblock %}
