
<footer class="footer mt-4 py-3 bg-dark">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Home</a></li>
      <li class="list-inline-item"><a href="#">About Us</a></li>
      <li class="list-inline-item"><a href="#">Services</a></li>
      <li class="list-inline-item"><a href="#">Contact</a></li>
    </ul>
    <p class="text-center mb-0">&copy; 2024 Hu Isy Students</p>
  </div>
</footer>
