{% comment %} <footer class="footer mt-4 py-3 bg-dark">
  <div class="container">
    <span class="text-muted">Useful Links</span>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Home</a></li>
      <li class="list-inline-item"><a href="#">Exam</a></li>
      <li class="list-inline-item"><a href="#">Study Material</a></li>
      <li class="list-inline-item"><a href="#">Feedback</a></li>
    </ul>
    <p class="text-center mb-0">&copy; 2024 Hu Isy Students</p>
  </div>
</footer> {% endcomment %}
