{% extends 'student_template/base.html' %}

{% block content %}
{% load static %}
    <div class="jumbotron pt-4" style="margin-top: 75px;">
        <h3 class="text-muted">Welcome, {{ user.username }}!</h3>
        <p class="text-muted">
            This is a student exit exam preparation platform, which provides you with
            different materials, tutorials, tests, and mock exams.
        </p>
        <hr class="my-4"/>
        
    </div>

    {% if courses %}
    <div class="row mt-6">
        {% for course in courses %}
        <div class="col-md-4">
            <div class="card shadow" style="max-width: 100%; max-height: 100%;">
                <img class="card-img-top" src="{{ course.thumbnail.url }}" alt="Course Image" style="width: 100%; height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5>{{ course.title }}</h5>
                    <p>{{ course.description }}</p>
                    <a href="{% url 'tutorial_page' course.id %}" class="btn btn-info">View Tutorial</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
            <div class="card ">
                <div class="card-body text-center">
                    <h5 class="card-title text-muted">There are currently no courses available.</h5>
                    <p class="card-text text-muted">
                        Check back later
                    </p>
                    <!-- You can add more styling or buttons as needed -->
                </div>
            </div>
    {% endif %}
{% endblock %}
