{% extends 'student_template/base.html' %}
{% load static %}
{% block title %}Student | View Exams{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="pt-4">
        <h3 class="text-muted">Exam Overview</h3>
        <p class="text-muted">Explore the available exams below. Click on the "Take Exam" button to get started.</p>
        <hr class="my-4">
    </div>

    <div class="row mt-4">
        {% for exam, submitted_by_current_user in exams_with_submission %}
        <div class="col-md-6 mb-4">
            <div class="card flex-row">
                <div class="card-body">
                    <h5 class="card-title">{{ exam.name }}</h5>
                    <p class="card-text">{{ exam.description }}</p>
                    <p class="card-text">
                        {% if exam.difficulty == 'easy' %}
                            <span class="badge badge-success"><i class="fas fa-check-circle"></i> Easy</span>
                        {% elif exam.difficulty == 'intermediate' %}
                            <span class="badge badge-success"><i class="fas fa-circle"></i> Intermediate</span>
                        {% elif exam.difficulty == 'advanced' %}
                            <span class="badge badge-success"><i class="fas fa-exclamation-circle"></i> Advanced</span>
                        {% endif %}
                        {% if submitted_by_current_user %}
                            <span class="badge badge-info"><i class="fas fa-check"></i> Exam Taken</span>
                        {% endif %}
                    </p>
                    {% if submitted_by_current_user %}
                        <button class="btn btn-info" disabled>Exam Already Taken</button>
                    {% else %}
                        <a href="{% url 'enter_exam_code' exam.id %}" class="btn btn-info">Take Exam</a>
                    {% endif %}                    
                    <br><br><small class="text-muted"><i class="fas fa-clock"></i> Time to complete: {{ exam.timer }} minutes</small>

                </div>
                <!-- Image container aligned to the right -->
                <img class="card-img-right example-card-img-responsive" src="{% static 'dist/img/exams.jpg' %}" alt="Image" style="max-width: 240px;">
            </div>
        </div>
        {% endfor %}
    </div>

    {% if not exams_with_submission %}
    <div class="text-center mt-5">
        <p class="text-muted">No exams are currently available, Please Check back later!</p>
            <img class="card-img-right example-card-img-responsive" src="{% static 'dist/img/no.jpg' %}" alt="Image" style="max-width: 240px;">

    </div>
    {% endif %}
</div>
{% endblock %}
