{% extends 'base.html' %}

{% block title %}Teacher | Manage Exams{% endblock %}

{% block content %}
    <!-- Main content -->
    <div class="wrapper">
        {% include 'teacher_template/navbar.html' %}
        {% include 'teacher_template/aside.html' %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <div class="btn-group">
                                 <h3 class="text-muted">Exam</h3>

                            </div>
                        </div>

                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{% url 'instructor_home' %}">Home</a></li>
                                <li class="breadcrumb-item active">Manage Exams</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Display success and error messages -->
                    {% if messages %}
                        {% for message in messages %}
                            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                            <script>
                                Swal.fire({
                                    toast: true,
                                    position: 'top-end',
                                    icon: 'success',
                                    text: "{{ message }}",
                                    showConfirmButton: false,
                                    timer: 6000,
                                });
                            </script>
                        {% endfor %}
                    {% endif %}

                    <!-- Manage Exams Section -->
                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="card-title">Exam List</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- Exams Table -->
                            <table id="examsTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Name</th>
                                        <th>Time in minutes</th>
                                        <th>Number of Questions</th>
                                        <th>Difficulty</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for exam in exams %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ exam.name }}</td>
                                            <td>{{ exam.timer }}</td>
                                            <td>{{ exam.num_questions }}</td>
                                            <td>{{ exam.difficulty }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- Footer Section -->
{% include 'teacher_template/footer.html' %}

    </div>
    <script>
    $(document).ready(function () {
        $('#examsTable').DataTable({
              
            responsive: true, // Make the table responsive
        
            "language": {
                "search": "_INPUT_", // Search input style
                "searchPlaceholder": "Search...", // Placeholder for search input
                "lengthMenu": "Show _MENU_ entries", // Entries per page dropdown
                "info": "Showing _START_ to _END_ of _TOTAL_ entries", // Information about the table
                "paginate": {
                    "previous": '<i class="fas fa-angle-left"></i>', // Previous button
                    "next": '<i class="fas fa-angle-right"></i>' // Next button
                }
            }
        });
    });
</script>
{% endblock %}
