{% extends 'base.html' %}

{% block title %}Department | Add Exam{% endblock %}

{% block content %}
<div class="wrapper">
  {% include 'department_template/navbar.html' %}
  {% include 'department_template/aside.html' %}

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="text-secondary">Exam Creation Form</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'manage_exam' %}">Manage Exam</a></li>
              <li class="breadcrumb-item active">Add Exam</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <section class="content">
      <div class="container-fluid">
        <div class="login-box w-100">
          <div class="card card-outline card-info">
            <div class="card-body">
              {% if success_msg %}
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                <script>
                  Swal.fire({
                    toast: true,
                    position: 'top-end',
                    icon: 'success',
                    text: '{{ success_msg }}',
                    showConfirmButton: false,
                    timer: 6000,
                  });
                </script>
              {% endif %}

              <form action="{% url 'add_exam' %}" method="post">
                {% csrf_token %}

                {% if form.non_field_errors %}
                  <div class="text-danger">
                    <i class="bi bi-exclamation-triangle"></i>
                    {{ form.non_field_errors.as_text }}
                  </div>
                {% endif %}

                <div class="column-container">
                  <div class="column">
                    <div class="form-group">
                      <label for="{{ form.name.id_for_label }}" class="text-muted">Exam Name</label>
                      {{ form.name }}
                      {% if form.name.errors %}
                        <div class="text-danger">
                          <i class="bi bi-exclamation-triangle"></i>
                          {{ form.name.errors.as_text }}
                        </div>
                      {% endif %}
                    </div>

                    <div class="form-group">
                      <label for="{{ form.timer.id_for_label }}" class="text-muted">Timer</label>
                      {{ form.timer }}
                      {% if form.timer.errors %}
                        <div class="text-danger">
                          <i class="bi bi-exclamation-triangle"></i>
                          {{ form.timer.errors.as_text }}
                        </div>
                      {% endif %}
                    </div>

                    <div class="form-group">
                      <label for="{{ form.exam_code.id_for_label }}" class="text-muted">Exam Code</label>
                      {{ form.exam_code }}
                      {% if form.exam_code.errors %}
                        <div class="text-danger">
                          <i class="bi bi-exclamation-triangle"></i>
                          {{ form.exam_code.errors.as_text }}
                        </div>
                      {% endif %}
                    </div>

   
                    
                    <!-- Add more fields as needed -->
                  </div>

                  <div class="column">
                    <!-- Add more fields as needed -->

                    <div class="row">
                      <div class="col-12">
                        <button type="submit" class="btn btn-info btn-block">
                          Add Exam
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  {% include 'department_template/footer.html' %}
</div>
{% endblock %}
