{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4 sidebar-fixed">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <span class="brand-text font-weight-light">Dashboard</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                {% if user.profile_picture %}
                    <img class="img-circle elevation-2" src="{{ user.profile_picture.url }}" alt="User profile picture" style="width: 35px; height: 35px;">
                {% else %}
                    <!-- If profile picture is not available, display a placeholder image -->
                    <img class="img-circle elevation-2" src="{% static 'dist/img/avatar5.png' %}" alt="Placeholder profile picture">
                {% endif %}
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ user.department_name }}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Dashboard -->
                <li class="nav-item">
                    <a href="{% url 'department_home' %}" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <!--/dashboard-->

                <!-- Manage Students -->
                <li class="nav-item">
                    <a href="{% url 'view_student' %}" class="nav-link">
                        <i class="nav-icon fas fa-user-graduate"></i>
                        <p>Manage Students</p>
                    </a>
                </li>
                <!--/Manage Students-->
                <!-- Manage Instructors -->
                <li class="nav-item">
                    <a href="{% url 'manage_instructors' %}" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>Manage Instructors</p>
                    </a>
                </li>
                <!-- /Manage Instructors -->

                <!-- Manage Exam -->
                <li class="nav-item">
                    <a href="{% url 'manage_exam' %}" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>Manage Exam</p>
                    </a>
                </li>
                <!--/Manage Exam-->

                <!-- Manage Questions -->
                <li class="nav-item">
                    <a href="{% url 'manage_questions' %}" class="nav-link">
                        <i class="nav-icon fas fa-question-circle"></i>
                        <p>Manage Questions</p>
                    </a>
                </li>
                <!--/Manage Questions-->


                <!-- Manage Courses -->
                <li class="nav-item">
                    <a href="{% url 'manage_courses' %}" class="nav-link">
                        <i class="nav-icon fas fa-book-open"></i>
                        <p>Manage Courses</p>
                    </a>
                </li>
                <!--/Manage Courses-->

                <!-- Tutorials -->
                <li class="nav-item">
                    <a href="{% url 'manage_tutorials' %}" class="nav-link">
                        <i class="nav-icon fas fa-chalkboard-teacher"></i>
                        <p>Manage Tutorials</p>
                    </a>
                </li>
                <!--/Tutorials-->

                <!-- Manage Resources -->
                <li class="nav-item">
                    <a href="{% url 'manage_resources' %}" class="nav-link">
                        <i class="nav-icon fas fa-file-alt"></i>
                        <p>Study Resources</p>
                    </a>
                </li>
                <!-- /Manage Resources -->

                <!-- View Feedback -->
                <li class="nav-item">
                    <a href="{% url 'feedback_management' %}" class="nav-link">
                        <i class="nav-icon fas fa-comments"></i>
                        <p>Feedback</p>
                    </a>
                </li>
                <!-- /View Feedback -->

                <!-- Report -->
                <li class="nav-item">
                    <a href="{% url 'exam_scores_table' %}" class="nav-link">
                        <i class="nav-icon fas fa-chart-bar"></i>
                        <p>Exam Report</p>
                    </a>
                </li>
                <!-- /Report -->
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
