<!-- dashboard.html -->
{% extends 'base.html' %}

{% block title %}Department | Dashboard{% endblock %}

{% block content %}
  <!-- Main content -->
  <div class="wrapper">
    {% include 'department_template/navbar.html' %}
    {% include 'department_template/aside.html' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            
          </div>
        </div>
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            <div class="row">

    
            <!-- Total Students Card -->
            <div class="col-md-6 col-lg-3">
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>{{ total_students }}</h3>
                  <p>Total Students</p>
                </div>
                <div class="icon">
                  <i class="fas fa-users"></i>
                </div>
                <a href="{% url "view_student" %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- Total Feedbacks Card -->
            <div class="col-md-6 col-lg-3">
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>{{feedbacks_count}}</h3>
                  <p>Total Feedbacks</p>
                </div>
                <div class="icon">
                  <i class="fas fa-comments"></i>
                </div>
                <a href="{% url "feedback_management" %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- Total Exams Card -->
            <div class="col-md-6 col-lg-3">
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3>{{exams_count}}</h3>
                  <p>Total Exams</p>
                </div>
                <div class="icon">
                  <i class="fas fa-clipboard-list"></i>
                </div>
                <a href="{% url "manage_exam" %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- Total Questions Card -->
            <div class="col-md-6 col-lg-3">
              <div class="small-box bg-danger">
                <div class="inner">
                  <h3>{{questions_count}}</h3>
                  <p>Total Questions</p>
                </div>
                <div class="icon">
                  <i class="fas fa-question"></i>
                </div>
                <a href="{% url "manage_questions" %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
          </div>
          <!-- /.row -->

          <!-- Chart Section -->
          <div class="row">

            <!-- Students by Course Chart -->
            <div class="col-md-6">
              <div class="card card-outline card-info">
                <div class="card-header">
                  <h3 class="card-title">Students Exam Status</h3>
                </div>
                <div class="card-body">
                  <canvas id="myChart" width="400" height="200"></canvas>
                </div>
              </div>
            </div>

            <!-- Male/Female Distribution Donut Chart -->
            <div class="col-md-6">
              <div class="card card-outline card-info">
                <div class="card-header">
                  <h3 class="card-title">Gender</h3>
                </div>
                <div class="card-body">
                  <canvas id="genderChart" width="400" height="200"></canvas>
                </div>
              </div>
            </div>

          </div>
          <!-- /.row -->

        </div>
      </section>
      <!-- /.content -->
    </div>
 
    

    {% include 'department_template/footer.html' %}
  </div>
  
  <!-- ./wrapper -->
{% endblock %}
