<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Import Students</title>
</head>
<body>
    
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                Swal.fire({
                    toast: true,
                    position: 'top-end',
                    icon: 'success',
                    text: "{{ message }}",
                    showConfirmButton: false,
                    timer: 6000,
                });
            </script>
        {% elif message.tags == 'error' %}
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                Swal.fire({
                    toast: true,
                    position: 'top-end',
                    icon: 'error',
                    text: "{{ message }}",
                    showConfirmButton: false,
                    timer: 6000,
                });
            </script>
        {% elif message.tags == 'warning' %}
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                Swal.fire({
                    toast: true,
                    position: 'top-end',
                    icon: 'warning',
                    text: "{{ message }}",
                    showConfirmButton: false,
                    timer: 6000,
                });
            </script>
        {% elif message.tags == 'info' %}
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                Swal.fire({
                    toast: true,
                    position: 'top-end',
                    icon: 'info',
                    text: "{{ message }}",
                    showConfirmButton: false,
                    timer: 6000,
                });
            </script>
        {% endif %}
    {% endfor %}
{% endif %}

    <h1>Import Students</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Import</button>
    </form>
</body>
</html>
