{% extends 'base.html' %}

{% block title %}Department | Manage Courses{% endblock %}

{% block content %}
    <!-- Main content -->
    <div class="wrapper">
        {% include 'department_template/navbar.html' %}
        {% include 'department_template/aside.html' %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <div class="btn-group">
                                <a href="{% url 'add_course' %}" class="btn btn-info">
                                    <i class="fas fa-plus"></i> Add New
                                </a>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{% url 'department_home' %}">Home</a></li>
                                <li class="breadcrumb-item active">Manage Courses</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">

                    <!-- Manage Courses Section -->
                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="card-title">Course List</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- Courses Table -->
                            <table id="coursesTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Resource</th>
                                        <th>Thumbnail</th>
                                        <th>Is Active</th>
                                        <th class="exclude-export">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for course in courses %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ course.title }}</td>
                                            <td>{{ course.description }}</td>
                                            <td>{{ course.resource }}</td>
                                            <td>{{ course.thumbnail.url }}</td>
                                            <td>{% if course.is_active %}Yes{% else %}No{% endif %}</td>
                                            <td class="d-flex align-items-center">
                                                {% comment %} <a href="{% url 'edit_course' course.id %}" class="btn btn-primary me-3">
                                                    <i class="fas fa-edit"></i> Edit
                                                </a> {% endcomment %}
                                                {% comment %} <form method="post" action="{% url 'delete_course' course.id %}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger">
                                                        <i class="fas fa-trash-alt"></i> Delete
                                                    </button>
                                                </form> {% endcomment %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>

        <!-- Add Course Modal -->
        <div class="modal fade" id="addCourseModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><i class="fas fa-plus"></i> Add New Course</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Add your form for adding a new course here -->
                        <form method="post" class="form" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Add Course</button>
                        </form>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <script>
            $(document).ready(function () {
                $('#coursesTable').DataTable({
                    dom: 'Bfrtip',
                    pageLength: 5, // Set the default number of rows per page
                    buttons: [
                        {
                            extend: 'excelHtml5',
                            text: '<i class="far fa-file-excel" style="color: green;"></i> to Excel',
                            className: 'btn btn-light',
                            exportOptions: {
                                columns: ':not(.exclude-export)'
                            }
                        },
                        {
                            extend: 'pdfHtml5',
                            text: '<i class="far fa-file-pdf" style="color: red;"></i> to PDF',
                            className: 'btn btn-light',
                            exportOptions: {
                                columns: ':not(.exclude-export)'
                            }
                        }
                    ]
                });

                  // Add an event listener to update the page length when the user changes the selection
            $('#rowsPerPage').on('change', function () {
                var selectedRows = $(this).val();
                questionsTable.page.len(selectedRows).draw();
            });
            });
        </script>

        {% include 'department_template/footer.html' %}
    </div>
    <!-- ./wrapper -->
{% endblock %}
