{% extends 'base.html' %}

{% block title %}Department | Manage Exams{% endblock %}

{% block content %}
    <!-- Main content -->
    <div class="wrapper">
        {% include 'department_template/navbar.html' %}
        {% include 'department_template/aside.html' %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <div class="btn-group">
                                <a href="{% url 'add_exam' %}" class="btn btn-info">
                                    <i class="fas fa-plus"></i> Add New
                                </a>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{% url 'department_home' %}">Home</a></li>
                                <li class="breadcrumb-item active">Manage Exams</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    {% if messages %}
                        {% for message in messages %}
                            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                            <script>
                                Swal.fire({
                                    toast: true,
                                    position: 'top-end',
                                    icon: 'success',
                                    text: "{{ message }}",
                                    showConfirmButton: false,
                                    timer: 6000,
                                });
                            </script>
                        {% endfor %}
                    {% endif %}
                    <!-- Manage Exams Section -->
                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="card-title">Exam List</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- Exams Table -->
                            <table id="examsTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Name</th>
                                        <th>Time in minutes</th>
                                        <th>Number of Questions</th>
                                        <th>Exam Code</th>
                                        <th class="exclude-export">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for exam in exams %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ exam.name }}</td>
                                            <td>{{ exam.timer }}</td>
                                            <td>{{ exam.num_questions }}</td>
                                            <td>{{ exam.exam_code }}</td>
                                            <td class="d-flex align-items-center">
                                              {% if not exam.is_active %}
                                                    <form method="post" class="me-3">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="activate_exam_id" value="{{ exam.id }}">
                                                        <button type="submit" class="btn btn-success me-4">
                                                            <i class="fas fa-check"></i> Activate
                                                        </button>
                                                    </form>
                                                {% else %}
                                                    <form method="post" class="me-3">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="deactivate_exam_id" value="{{ exam.id }}">
                                                        <button type="submit" class="btn btn-warning">
                                                            <i class="fas fa-times"></i> Deactivate
                                                        </button>
                                                    </form>
                                                {% endif %}&nbsp;&nbsp;
                                                <!-- Update Button -->
                                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#updateExamModal{{ exam.id }}">
                                                    <i class="fas fa-edit fa-sm me-1"></i> Edit
                                                </button>&nbsp;&nbsp;
                                                <!-- Delete Button -->
                                                <button type="button" class="btn btn-danger ms-2" data-toggle="modal" data-target="#deleteExamModal{{ exam.id }}">
                                                     <i class="fas fa-trash-alt fa-sm me-1"></i> Delete 
                                                </button>

                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>

    <!-- Update Exam Modals -->
{% for exam in exams %}
<div class="modal fade" id="updateExamModal{{ exam.id }}" tabindex="-1" role="dialog" aria-labelledby="updateExamModalLabel{{ exam.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateExamModalLabel{{ exam.id }}">Update Exam</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Update Form -->
            <!-- Update Form -->
            <form action="{% url 'update_exam' exam.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="text-muted" for="exam_name">Exam Name</label>
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-file-alt"></i></span>
                        </span>
                        <input type="text" class="form-control" id="exam_name" name="exam_name" value="{{ exam.name }}">
                    </div>
                </div>
                <!-- Add difficulty field -->
                <div class="form-group">
                    <label class="text-muted" for="exam_difficulty">Difficulty</label>
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-cogs"></i></span> <!-- Icon for difficulty -->
                        </span>
                        <select class="form-control" id="exam_difficulty" name="exam_difficulty">
                            {% for difficulty, label in DIFFICULTY_CHOICES %}
                            <option value="{{ difficulty }}" {% if exam.difficulty == difficulty %} selected {% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="text-muted" for="exam_duration">Exam Duration (in minutes)</label>
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-clock"></i></span>
                        </span>
                        <input type="text" class="form-control" id="exam_duration" name="exam_duration" value="{{ exam.timer }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="text-muted" for="exam_code">Exam Code</label>
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-barcode"></i></span>
                        </span>
                        <input type="text" class="form-control" id="exam_code" name="exam_code" value="{{ exam.exam_code }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="text-muted">Number of Attempts</label>
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-list"></i></span>
                        </span>
                        <input type="number" class="form-control" name="attempts_allowed" value="{{ exam.attempts_allowed }}">
                    </div>
                </div>
                <!-- Add more form fields as needed -->
                <button type="submit" class="btn btn-info">
                    <i class="fas fa-save"></i> Save Changes
                </button>
            </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}



        <!-- Delete Exam Modals -->
        {% for exam in exams %}
            <div class="modal fade" id="deleteExamModal{{ exam.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteExamModalLabel{{ exam.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteExamModalLabel{{ exam.id }}">Delete Exam</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete the exam "{{ exam.name }}"?</p>
                        </div>
                        <div class="modal-footer">
                            <form action="{% url 'delete_exam' exam.id %}" method="post">
                                {% csrf_token %}
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    <script>
    $(document).ready(function () {
        $('#examsTable').DataTable({
            dom: 'Bfrtip',
            responsive: true, // Enable responsive feature
            language: { // Customize language settings
                search: '', // Remove the search label
                searchPlaceholder: 'Search...', // Add placeholder for search input
            },
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: '<i class="far fa-file-excel" style="color: green;"></i> to Excel',
                    className: 'btn btn-light',
                    exportOptions: {
                        columns: ':not(.exclude-export)'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    text: '<i class="far fa-file-pdf" style="color: red;"></i> to PDF',
                    className: 'btn btn-light',
                    exportOptions: {
                        columns: ':not(.exclude-export)'
                    }
                }
            ]
        });
    });
</script>



        {% include 'department_template/footer.html' %}
    </div>
    <!-- ./wrapper -->
{% endblock %}
