{% extends 'base.html' %}

{% block title %}Department | Manage Questions{% endblock %}

{% block content %}
    <!-- Main content -->
    <div class="wrapper">
        {% include 'department_template/navbar.html' %}
        {% include 'department_template/aside.html' %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            {% if messages.success %}
                {% for message in messages %}
                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                    <script>
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            icon: 'success',
                            text: "{{ message }}",
                            showConfirmButton: false,
                            timer: 6000,
                        });
                    </script>
                {% endfor %}
            {% endif %}
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-plus"></i> Add New
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'add_question' %}">Add Question</a> 
                                    <a class="dropdown-item" href="{% url 'import_student' %}">Import Question</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{% url 'department_home' %}">Home</a></li>
                                <li class="breadcrumb-item active">Manage Questions</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">

                    <!-- Manage Questions Section -->
                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="card-title">Question List</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- Questions Table -->
                            <table id="questionsTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Question Content</th>
                                        <th>Exam</th>
                                        <th class="exclude-export">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Sample Data -->
                                    {% for question in questions %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td style="max-width: 200px; max-height: 200px; overflow: hidden;">{{ question.content|safe }}</td>
                                        <td>{{ question.exam.name }}</td>
                                        <td>
                                            <!-- Edit Button -->
                                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#editQuestionModal{{ question.id }}">
                                                <i class="fas fa-edit"></i> Edit
                                            </button>
                                            <!-- Delete Button -->
                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteQuestionModal{{ question.id }}">
                                                <i class="fas fa-trash-alt"></i> Delete
                                            </button>
                                        </td>
                                    </tr>
                                    <!-- Edit Question Modal -->
                                    <div class="modal fade" id="editQuestionModal{{ question.id }}" tabindex="-1" role="dialog" aria-labelledby="editQuestionModalLabel{{ question.id }}" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editQuestionModalLabel{{ question.id }}">Edit Question</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <!-- Edit Form -->
                                                    <form action="{% url 'update_question' question.id %}" method="post">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <label for="question_content">Question Content</label>
                                                            <textarea class="form-control summernote" id="content" name="content" rows="3">{{ question.content }}</textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exam">Exam</label>
                                                            <select class="form-control" id="exam" name="exam">
                                                                {% for question in questions %}
                                                                    <option value="{{ exam.id }}" {% if question.exam.id == exam.id %}selected{% endif %}>{{ question.exam}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <h5>Choices:</h5>
                                                        {% for choice in question.choice_set.all %}
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="correct_choice" id="choice{{ choice.id }}" value="{{ choice.id }}" {% if choice.is_correct %}checked{% endif %}>
                                                                <label class="form-check-label" for="choice{{ choice.id }}">
                                                                    {{ choice.text }}
                                                                    {% if choice.is_correct %}
                                                                        <span class="badge badge-success">Correct</span>
                                                                    {% endif %}
                                                                </label>
                                                            </div>
                                                        {% endfor %}
                                                        <!-- Add more form fields as needed -->
                                                        <button type="submit" class="btn btn-info">
                                                            <i class="fas fa-save"></i> Save Changes
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Edit Question Modal -->
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>

        <script>
            $(document).ready(function() {
                // Initialize Summernote
                $('.summernote').summernote({
                    height: 200, // Set the height of the editor
                    // Add other Summernote options here if needed
                });
            });
        </script>

        <!-- Datatables and other scripts -->
        <script>
            $(document).ready(function () {
                var questionsTable = $('#questionsTable').DataTable({
                    dom: 'Bfrtip',
                    pageLength: 5, // Set the default number of rows per page
                    buttons: [
                        {
                            extend: 'excelHtml5',
                            text: '<i class="far fa-file-excel" style="color: green;"></i> to Excel',
                            className: 'btn btn-light',
                            exportOptions: {
                                columns: ':not(.exclude-export)'
                            }
                        },
                        {
                            extend: 'pdfHtml5',
                            text: '<i class="far fa-file-pdf" style="color: red;"></i> to PDF',
                            className: 'btn btn-light',
                            exportOptions: {
                                columns: ':not(.exclude-export)'
                            }
                        }
                    ],
                    responsive: true, // Make the table responsive
                    // Add Bootstrap classes to the table
                    "language": {
                        "search": "_INPUT_", // Search input style
                        "searchPlaceholder": "Search...", // Placeholder for search input
                        "lengthMenu": "Show _MENU_ entries", // Entries per page dropdown
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries", // Information about the table
                        "paginate": {
                            "previous": '<i class="fas fa-angle-left"></i>', // Previous button
                            "next": '<i class="fas fa-angle-right"></i>' // Next button
                        }
                    }
                });

                // Add an event listener to update the page length when the user changes the selection
                $('#rowsPerPage').on('change', function () {
                    var selectedRows = $(this).val();
                    questionsTable.page.len(selectedRows).draw();
                });
            });
        </script>

        {% include 'department_template/footer.html' %}
    </div>
    <!-- ./wrapper -->
{% endblock %}
