{% extends 'base.html' %}

{% block title %}Department | Dashboard{% endblock %}

{% block content %}
<!-- Main content -->
<div class="wrapper">
    {% include 'department_template/navbar.html' %}
    {% include 'department_template/aside.html' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                    <script>
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            icon: 'success',
                            text: "{{ message }}",
                            showConfirmButton: false,
                            timer: 6000,
                        });
                    </script>
                    {% elif message.tags == 'error' %}
                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                    <script>
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            icon: 'error',
                            text: "{{ message }}",
                            showConfirmButton: false,
                            timer: 6000,
                        });
                    </script>
                    {% elif message.tags == 'warning' %}
                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                    <script>
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            icon: 'warning',
                            text: "{{ message }}",
                            showConfirmButton: false,
                            timer: 6000,
                        });
                    </script>
                    {% elif message.tags == 'info' %}
                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                    <script>
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            icon: 'info',
                            text: "{{ message }}",
                            showConfirmButton: false,
                            timer: 6000,
                        });
                    </script>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                </div>
            </div>
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">

<!-- Department Notifications - Second Card -->
<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-bullhorn"></i> Unread Notifications
            </h3>
        </div>
        <div class="card-body">
            {% for notification in unread_notifications %}
            <div class="alert alert-info">
                <button type="button" class="btn btn-link dropdown-toggle text-white pt-0 float-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <!-- Three dots icon -->
                    <i class="fas fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <!-- Dropdown menu items with icons -->
                    <form action="{% url 'update_notification_status' notification.id %}" method="post">
                        {% csrf_token %}
                        <button class="dropdown-item text-dark" type="submit" name="status" value="read"><i class="fas fa-check"></i> Mark as Read</button>
                        <button class="dropdown-item text-dark" type="submit" name="status" value="delete"><i class="fas fa-trash-alt"></i> Delete</button>
                    </form>
                </div>
                <h6><i class="icon fas fa-bell"></i> {{ notification.message|safe}}</h6>
                <p class="small">{{ notification.timestamp|date:"F j, Y, g:i a" }}</p> <!-- Display timestamp -->
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Department Notifications - Third Card -->
<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-bullhorn"></i> Read Notifications
            </h3>
        </div>
        <div class="card-body">
            {% for notification in read_notifications %}
            <div class="alert alert-secondary">
                <button type="button" class="btn btn-link dropdown-toggle text-white pt-0 float-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <!-- Three dots icon -->
                    <i class="fas fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <!-- Dropdown menu items with icons -->
                    <form action="{% url 'update_notification_status' notification.id %}" method="post">
                        {% csrf_token %}
                        <button class="dropdown-item text-dark" type="submit" name="status" value="unread"><i class="fas fa-bell"></i> Mark as Unread</button>
                        <button class="dropdown-item text-dark" type="submit" name="status" value="delete"><i class="fas fa-trash-alt"></i> Delete</button>
                    </form>
                </div>
                <h6><i class="icon fas fa-check-circle"></i>{{ notification.message|safe }}</h6>
                <p class="small">{{ notification.timestamp|date:"F j, Y, g:i a" }}</p> <!-- Display timestamp -->

            </div>
            {% endfor %}
        </div>
    </div>
</div>


                <!-- /.row -->
            </div>
        </section>
        <!-- /.content -->
    </div>

    <!-- AdminLTE JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/js/adminlte.min.js"></script>
    <!-- Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>

    {% include 'department_template/footer.html' %}
</div>
<!-- ./wrapper -->
{% endblock %}
