{% extends 'base.html' %}

{% block title %}Preview Questions{% endblock %}

{% block content %}
<div class="wrapper">
    {% include 'department_template/navbar.html' %}
    {% include 'department_template/aside.html' %}

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <h1>Selected File Questions Preview</h1>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <div class="alert alert-warning alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5><i class="icon fas fa-exclamation-triangle"></i> Reminder!</h5>
                    Please select the correct answers for each question before submitting.
                </div>

                {% if questions_with_choices %}
                <form method="post">
                    {% csrf_token %}
                    {% for question_with_choices in questions_with_choices %}
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">{{ question_with_choices.question }}</h3>
                        </div>
                        <div class="card-body">
                            <input type="hidden" name="question_number_{{ forloop.counter }}" value="{{ forloop.counter }}">
                            <ul class="list-group">
                              {% for choice in question_with_choices.choices %}
                                    <li class="list-group-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="choice_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" name="selected_choice_{{ forloop.parentloop.counter }}[]" class="custom-control-input" value="{{ choice }}">
                                            <label class="custom-control-label" for="choice_{{ forloop.parentloop.counter }}_{{ forloop.counter }}">{{ choice }}</label>
                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>
                            <div class="form-group mt-3">
                                <label for="answer_description_{{ forloop.counter }}" class="text-muted">Answer Description</label>
                                <textarea class="form-control" id="answer_description_{{ forloop.counter }}" name="answer_description_{{ forloop.counter }}" rows="3"></textarea>
                            </div>
                            <div class="form-group mt-3">
                                <label for="question_weight_{{ forloop.counter }}" class="text-muted">Question Weight</label>
                                <input type="number" step="0.1" class="form-control" id="question_weight_{{ forloop.counter }}" name="question_weight_{{ forloop.counter }}" required>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <button type="submit" name="confirm" class="btn btn-primary mb-4"><i class="fas fa-check"></i> Confirm</button>
                    <a href="{% url 'upload_pdf_view' %}" class="btn btn-secondary mb-4"><i class="fas fa-arrow-left"></i> Back to Upload</a>
                </form>
                {% else %}
                <div class="alert alert-info" role="alert">
                    No questions to preview.
                </div>
                <a href="{% url 'upload_pdf_view' %}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Back to Upload</a>
                {% endif %}
            </div>
        </section>
    </div>

    {% include 'department_template/footer.html' %}
</div>
{% endblock %}
