{% extends 'base.html' %}

{% block title %}Department | Manage Student{% endblock %}

{% block content %}
    <!-- Main content -->
    <div class="wrapper">
        {% include 'department_template/navbar.html' %}
        {% include 'department_template/aside.html' %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                           <div class="btn-group">
                                <a class="btn btn-info" href="{% url 'add_student' %}">
                                    <i class="fas fa-user-plus"></i> Add New
                                </a>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{% url 'department_home' %}">Home</a></li>
                                <li class="breadcrumb-item active">Manage Student</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Display success and error messages -->
                    {% if messages %}
                        {% for message in messages %}
                            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                            <script>
                                Swal.fire({
                                    toast: true,
                                    position: 'top-end',
                                    icon: 'success',
                                    text: "{{ message }}",
                                    showConfirmButton: false,
                                    timer: 6000,
                                });
                            </script>
                        {% endfor %}
                    {% endif %}

                    <!-- Manage Students Section -->
                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="card-title">Student List</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- Students Table -->
                            <table id="studentsTable" class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Gender</th>
                                        <th>Phone</th>
                                        <th class="exclude-export">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Student Rows -->
                                    {% for student in students %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ student.first_name }}</td>
                                            <td>{{ student.email }}</td>
                                            <td>{{ student.sex }}</td>
                                            <td>{{ student.phone }}</td>
                                            <td>
                                               <!-- Update Button -->
                                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#updateModal{{ forloop.counter }}">
                                                    <i class="fas fa-edit"></i>
                                                </button>

                                                <!-- Delete Button -->
                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ forloop.counter }}">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>


                                            <!-- Update Modal -->
                                                <div class="modal fade" id="updateModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header bg-info text-white">
                                                                <h5 class="modal-title" id="updateModalLabel">Update Student</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                            <!-- Update Form -->
                                                                      <form action="{% url 'update_student' username=student.username %}" method="post" class="needs-validation" novalidate>
                                                                                        {% csrf_token %}

                                                                                        <div class="form-group">
                                                                                            <label for="first_name" class="text-muted">Full Name</label>
                                                                                            <div class="input-group">
                                                                                                <div class="input-group-prepend">
                                                                                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                                                                </div>
                                                                                                <input type="text" class="form-control" id="first_name" name="first_name" value="{{ student.first_name }}" required>
                                                                                                <div class="invalid-feedback">Please provide a valid full name.</div>
                                                                                            </div>
                                                                                        </div>
                                                                                        
                                                                                        <div class="form-group">
                                                                                            <label for="email"  class="text-muted">Email</label>
                                                                                            <div class="input-group">
                                                                                                <div class="input-group-prepend">
                                                                                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                                                                                </div>
                                                                                                <input type="email" class="form-control" id="email" name="email" value="{{ student.email }}" required>
                                                                                                <div class="invalid-feedback">Please provide a valid email.</div>
                                                                                            </div>
                                                                                        </div>
                                                                                        
                                                                                        <div class="form-group">
                                                                                            <label for="sex"  class="text-muted">Sex</label>
                                                                                            <select class="form-control" id="sex" name="sex" required>
                                                                                                <option value="male" {% if student.sex == 'Male' %} selected {% endif %}>Male</option>
                                                                                                <option value="female" {% if student.sex == 'Female' %} selected {% endif %}>Female</option>
                                                                                                <!-- Add more options as needed -->
                                                                                            </select>
                                                                                            <div class="invalid-feedback">Please select a sex.</div>
                                                                                        </div>
                                                                                        
                                                                                        <div class="form-group">
                                                                                            <label for="phone"  class="text-muted">Phone</label>
                                                                                            <div class="input-group">
                                                                                                <div class="input-group-prepend">
                                                                                                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                                                                                </div>
                                                                                                <input type="tel" class="form-control" id="phone" name="phone" value="{{ student.phone }}" pattern="[0-9]{10}" title="Please enter a 10-digit phone number" required>
                                                                                                <div class="invalid-feedback">Please provide a valid 10-digit phone number.</div>
                                                                                            </div>
                                                                                        </div>
                                                                                        
                                                                                        <!-- Add more form fields as needed -->
                                                                                        <button type="submit" class="btn btn-info">Save Changes</button>
                                                                                    </form>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                <!-- Delete Modal -->
                                                <div class="modal fade" id="deleteModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="deleteModalLabel">Delete Student</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Are you sure you want to delete the student {{ student.first_name }} with email: {{ student.email }}?</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                                <form action="{% url 'delete_student' username=student.username %}" method="post">
                                                                    {% csrf_token %}
                                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>

       <!-- JavaScript Section -->
<script>
    $(document).ready(function () {
        $('#studentsTable').DataTable({
               dom: 'Bfrtip',
            responsive: true, // Make the table responsive
            // Add Bootstrap classes to the table
            "language": {
                "search": "_INPUT_", // Search input style
                "searchPlaceholder": "Search...", // Placeholder for search input
                "lengthMenu": "Show _MENU_ entries", // Entries per page dropdown
                "info": "Showing _START_ to _END_ of _TOTAL_ entries", // Information about the table
                "paginate": {
                    "previous": '<i class="fas fa-angle-left"></i>', // Previous button
                    "next": '<i class="fas fa-angle-right"></i>' // Next button
                }
            }
        });
    });
</script>

<!-- Footer Section -->
{% include 'department_template/footer.html' %}


    </div>
    <!-- ./wrapper -->
{% endblock %}
