<!-- dashboard.html -->
{% extends 'base.html' %}

{% block title %}Department | Feedback{% endblock %}

{% block content %}
  <!-- Main content -->
  <div class="wrapper">
    {% include 'department_template/navbar.html' %}
    {% include 'department_template/aside.html' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    
      <!-- /.content-header -->
  {% if messages %}
              {% for message in messages %}
                  {% if message.tags == 'success' %}
                      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                      <script>
                          Swal.fire({
                              toast: true,
                              position: 'top-end',
                              icon: 'success',
                              text: "{{ message }}",
                              showConfirmButton: false,
                              timer: 6000,
                          });
                      </script>
                  {% elif message.tags == 'error' %}
                      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                      <script>
                          Swal.fire({
                              toast: true,
                              position: 'top-end',
                              icon: 'error',
                              text: "{{ message }}",
                              showConfirmButton: false,
                              timer: 6000,
                          });
                      </script>
                  {% elif message.tags == 'warning' %}
                      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                      <script>
                          Swal.fire({
                              toast: true,
                              position: 'top-end',
                              icon: 'warning',
                              text: "{{ message }}",
                              showConfirmButton: false,
                              timer: 6000,
                          });
                      </script>
                  {% elif message.tags == 'info' %}
                      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                      <script>
                          Swal.fire({
                              toast: true,
                              position: 'top-end',
                              icon: 'info',
                              text: "{{ message }}",
                              showConfirmButton: false,
                              timer: 6000,
                          });
                      </script>
                  {% endif %}
              {% endfor %}
          {% endif %}
      <!-- Main content -->
       <!-- Main content -->
      <section class="content mt-5">
        <div class="container-fluid">
         
          <!-- Manage Students Section -->
          <div class="card card-outline card-info">
            <div class="card-header">
              <h3 class="card-title">Feedback</h3>
            </div>
            <div class="card-body">
              
         <table id="feedbackTable" class="table table-bordered table-striped">
                  <thead>
                      <tr>
                          <th>No.</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Message</th>
                          <th>Sent At</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for feedback in student_feedback %}
                      <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ feedback.user.first_name }}</td>
                          <td>{{ feedback.user.email }}</td>
                          <td>{{ feedback.feedback_text }}</td>
                          <td>{{ feedback.created_at }}</td>
                          <td>
                              <!-- Button to trigger the delete confirmation modal -->
                              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ feedback.id }}">
                                  <i class="fas fa-trash-alt"></i> Delete
                              </button>

                              <!-- Delete Modal -->
                              <div class="modal fade" id="deleteModal{{ feedback.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ feedback.id }}" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <h5 class="modal-title" id="deleteModalLabel{{ feedback.id }}">Delete Feedback</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                              </button>
                                          </div>
                                          <div class="modal-body">
                                              <p>Are you sure you want to delete this feedback?</p>
                                          </div>
                                          <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                              <!-- Form for deleting feedback -->
                                              <form method="post" action="{% url 'delete_feedback' %}">
                                                  {% csrf_token %}
                                                  <input type="hidden" name="feedback_id" value="{{ feedback.id }}">
                                                  <button type="submit" class="btn btn-danger">Delete</button>
                                              </form>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>

            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
      <!-- /.content -->
    </div>
 

            <script>
                $(document).ready(function () {
            var feedbackTable = $('#feedbackTable').DataTable({
                dom: 'Bfrtip',
                pageLength: 5, // Set the default number of rows per page
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: '<i class="far fa-file-excel" style="color: green;"></i> to Excel',
                        className: 'btn btn-light',
                        exportOptions: {
                            columns: ':not(.exclude-export)'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="far fa-file-pdf" style="color: red;"></i> to PDF',
                        className: 'btn btn-light',
                        exportOptions: {
                            columns: ':not(.exclude-export)'
                        }
                    }
                ]
            });

            // Add an event listener to update the page length when the user changes the selection
            $('#rowsPerPage').on('change', function () {
                var selectedRows = $(this).val();
                feedbackTable.page.len(selectedRows).draw();
            });
        });

                </script>


    {% include 'department_template/footer.html' %}
  </div>
  <!-- ./wrapper -->
{% endblock %}
